defaults:
  - _self_
  - override hydra/job_logging: none
  - override hydra/hydra_logging: none

hydra:
  output_subdir: null
  run:
    dir: .
  job_logging:
    root:
      handlers: []

AIM:
  server_url: aim://10.208.33.93:53800

GENERAL:
  total_step: 100000
  log_step: 10
  vis_step: 100
  checkpoint_step: 3000
  warmup_step: 5000
  cosine_cycle: 0.4
  num_worker: 4
  prefetch_factor: 2
  seed: 3229084
  resume_path: null

TRAIN:
  lr: 1e-4
  backbone_lr: 1e-5
  grad_accum_step: 1
  max_grad: 1.0
  weight_decay: 1e-4
  sample_per_device: 32
  expansion_ratio: 2.0
  scale_z_range: [0.8, 1.2]
  scale_f_range: [0.8, 1.2]
  persp_rot_max: 0.2617993877991494 # pi/12

DATA:
  train:
    source: [
      /mnt/qnap/data/datasets/webdatasets/InterHand2.6M/train/*,
      /mnt/qnap/data/datasets/webdatasets/DexYCB/s1/train/*,
      /mnt/qnap/data/datasets/webdatasets/HO3D_v3/train/*
    ]
    stride: 1
  val:
    source: [
      /mnt/qnap/data/datasets/webdatasets/InterHand2.6M/val/*,
      /mnt/qnap/data/datasets/webdatasets/DexYCB/s1/val/*,
    ]
    stride: 1
    max_val_step: 1000

MODEL:
  img_size: 224
  img_mean: [0.485, 0.456, 0.406]
  img_std: [0.229, 0.224, 0.225]
  stage: stage1
  num_frame: 1
  joint_type: "3"
  norm_by_hand: true
  backbone:
    backbone_str: model/facebook/dinov2-large
    infusion_layer: null
    drop_cls: false
    kwargs:
      # mask_ratio: 0.0
  handec:
    num_layer: 4
    num_head: 16
    dim_head: 64
    dim_mlp: 4096
    dropout: 0.0
    norm: layer
    context_dim: 1024
    skip_token_embed: false
    use_mean_init: false
    denorm_output: false
  persp_info_embed:
    type: "ca"
    num_sample: 8
    pie_fusion: "all"
  temporal_encoder:
    num_layer: 2
    num_head: 16
    trope_scalar: 20.0
    zero_linear: true

LOSS:
  supervise_global: true